@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700&display=swap');




header {
    position: relative;
    margin-bottom: 15rem;
}
.header_img {
    position: relative;
}

/* версия 1 */
/* .header_img img{
    position: absolute;
    top: 155px;
    left: 0;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    max-height: 600px;
} 
.header_img:after {
    content:"";
    position: absolute;
    top: 155px;
    left: 0;
    width: 100%;
    height: 600px;
    background: #282c71;
    opacity: .75;    
}
.main_menu li a {
    color: #000000;
    font-size: 14px;
   
   font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
.lang a {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
   font-family: 'Roboto', sans-serif;
    text-transform: uppercase;

}
.header_text>div {
    width: 50%;
    padding-top: 12rem;
} */
/* версия 1  */



/* версия 2 */

.header_img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    max-height: 600px;
}
.header_img:after {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    background: #282c71;
    opacity: .75;    
}

.main_menu li a {
    color: #FFFFFF;
    font-size: 14px;
   font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.lang a {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
   font-family: 'Roboto', sans-serif;
    text-transform: uppercase;

}
.header_text>div {
    width: 50%;
    padding-top: 5rem;
}

/* версия 2 */


body {
    text-align: center;
}


.top_menu {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.logo {
    width: 250px;
    height: 150px;
    float: left;
}


.main_menu {
    display: flex;
    
}

.main_menu li {
    display: flex;
    padding-right: 30px;
}

.main_menu li:last-child {
    display: flex;
    padding-right: 0;
}


.lang {
    
    
}


.btn_test {
    background: #b71f27;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
   font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding: .625rem 1rem;
    box-shadow: 0 5px 15px rgba(0,0,0,.15);
    border-radius: 15px;
}

.header_text {
    position: relative;
    z-index: 5;
        
}


.header_text h1 {
    color: #FFFFFF;
    font-size: 62px;
    font-weight: 700;
   font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding-bottom: 3rem;
}
.btn_header {
    background: #b71f27;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
   font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding: .625rem 1rem;
    box-shadow: 0 5px 15px rgba(0,0,0,.15);
    border-radius: 15px;
    margin-right: 2rem;
}
.our_course div div {
    margin-bottom: .625rem;
}
.our_course {
    margin-bottom: 3rem;
}


.our_course h2 {
    color: #000000;
    font-size: 32px;
    font-weight: 700;
   font-family: 'Roboto', sans-serif;
    padding-bottom: 3rem;
    text-align: center;
}
.our_course img {
    width: 310px;
    height: 230px;
    object-fit: cover;
    object-position: center center;
    padding: 1.2rem 0;
   
}
.our_course h3{
   font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.75rem;
    padding-bottom: 2rem;
}

.spec_pad1 h3{
    padding-bottom: 0;
}
.spec_pad2 h3{
    padding-bottom: 4.2rem;
}
.our_course p{
    
   font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    }

.our_course_btn {
    display: flex;
    align-items: baseline;
    padding-bottom: 1.75rem;
    justify-content: space-between;
}
.showd{
    box-shadow: 0 0 20px rgba(0,0,0,.15);
    
}
.btn_course {
    background: #b71f27;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
   font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding: .5rem .625rem;
    box-shadow: 0 5px 15px rgba(0,0,0,.15);
    border-radius: 15px;
    
}


.our_advantage {
    background: #f2f7f8;
    text-align: center;
    padding-bottom: 3rem;
}
.our_advantage h2 {
    color: #000000;
    font-size: 32px;
    font-weight: 700;
   font-family: 'Roboto', sans-serif;
    padding: 3rem;
    text-align: center;
}



.list_adv {
    border: 2px solid #282c71;
    height: 200px;
    margin: 30px 0;
    padding: 15px;
    /* box-shadow: 0 0 20px rgba(0,0,0,.30); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.our_advantage p{
    text-align: center;
   font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    }
.list_adv h4 {
    transform: translateY(-30px);
    background: #f2f7f8;
    font-size: 1rem;
   font-family: 'Roboto', sans-serif;
    display: inline-block;
}
.list_adv:before {
    content: "";
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #282c71;
    top: -16px;
    left: -16px;
    position: absolute;
}

.our_teacher h2 {
    color: #000000;
    font-size: 32px;
    font-weight: 700;
   font-family: 'Roboto', sans-serif;
    padding: 3rem;
    text-align: center;
}
.our_teacher img {
    width: 100%;
    object-fit: cover;
    object-position: center -150px;
    max-height: 600px;
    box-shadow: 0 5px 15px rgba(0,0,0,.15);
}

.our_teacher p{
    text-align: center;
   font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    }
.our_teacher>div {
    margin-bottom: 3rem;
}

.teacher_owl {
    background: #f2f7f8;
    text-align: center;
    padding: 3rem;
}
.teacher_owl h2 {
    color: #000000;
    font-size: 32px;
    font-weight: 700;
   font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-bottom: 3rem;
}
.teacher_owl img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    object-position: center center;
   
}
.teacher_owl p {
   font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}
.teacher_owl h4 {
   font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

#teachers .owl-prev{
    position: absolute;
    top: 50%;
    left: -30px;
    font-size: 48px;
    color: #b71f27;
    font-weight: bolder;
}
#teachers .owl-next{
    position: absolute;
    top: 50%;
    right: -30px;
    font-size: 48px;
    color: #b71f27;
    font-weight: bolder;
}
/* .foto {
    margin-bottom: 3rem;
} */
.foto h2 {
    color: #000000;
    font-size: 32px;
    font-weight: 700;
   font-family: 'Roboto', sans-serif;
    padding: 3rem;
    text-align: center;
}
.foto img {
    width: 100%;
    object-fit: cover;
    object-position: center center;
    max-height: 280px;
}
.comment {
    background: url(../image/photo_2021-08-17_21-28-35\ \(1\).jpg);
    background-position: center;
    background-size: cover;
    z-index: 1;
}
.comment>div {
    z-index: 3;
}
.comment:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #bbc9db;
    opacity: .9;
    z-index: 2;

}
.comment h2 {
    color: #000000;
    font-size: 32px;
    font-weight: 700;
   font-family: 'Roboto', sans-serif;
    padding: 3rem;
    text-align: center;
}
#review img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    object-position: center center;
    border-radius: 50%;
}
#review span {
    color: #282c71;
    font-size: 44px;
}
#review h4 {
   font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin: 1.5rem 0;
    color: #000000;
}
#review p {
   font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #000000;
}
